<html>
<head>
    <h1 style=" color:green; text-align:center;">توضیحات کد درخت</h1>
    <body>
    <img src="tree.jpg" alt="درخت" width="400" border-radius="10" >
    <br>
    <div >
    <p dir="rtl" style="text-align: right;">

        ابتدا کتابخانه‌ی turtle را تعریف می‌کنیم و بعد دو تابع flower() و branch() تعریف می‌کنیم. تابع branch() تنه و شاخه‌ها‌ی درخت را رسم می‌کند، به این صورت که ابتدا تنه درخت را به طول l و عرض w رسم می‌کند و در هر مرحله 30 درجه به سمت چپ می‌چرخد، 20 واحد از طول آن‌ها و 2 واحد از عرض آن‌ها کم می‌کند. این کار را تا زمانی ادامه می‌دهد که طول یا عرض شاخه‌ها صفر شود. تابع flower() شامل یک گل پنج گلبرگی که از رسم 5 نیم‌دایره رسم شده و یک برگ که برای رسم آن از دایره‌ای سبز رنگ استفاده کردیم، می‌باشد. در تابع شاخه تعریف می‌کنیم که اگر طول شاخه از 80 واحد کمتر بود بر سر هر شاخه یک گل رسم کند. در آخر تابع tree() را تعریف می‌کنیم، در این تابع ابعاد صفحه، رنگ پس‌زمینه، نقطه شروع کشیدن درخت و جهت لاکپشت را برای شروع رسم درخت مشخص می‌کنیم، در آخر هم تابع شاخه را در این تابع صدا می‌زنیم.

        
    </p>
    <h2 style=" color:green; text-align:center;">کد درخت</h2>
    <pre>import turtle
        def branch( w, l, c):
            if w <= 0 or l <= 0 :
                return 
            turtle.color(c)
            turtle.pensize(w)
            turtle.forward(l)
            turtle.left(30)
            branch(w - 2, l - 20, c)
            turtle.right(60)
            if l - 20 < 80:
                flower()
                
            turtle.color("brown")
            branch(w - 2, l - 20, c)
            turtle.left(30)
            turtle.back(l)
            
                
        
        def tree():
            window = turtle.Screen()
            window.screensize(800, 600)
            turtle.bgcolor("lightyellow")
            turtle.penup()
            turtle.goto(0, -300)
            turtle.pendown()
            turtle.left(90)
            turtle.speed('fastest')
            branch(12, 140, "brown")
        def flower():
        turtle.color('lightcoral')
        turtle.fillcolor('lightcoral')
        turtle.begin_fill()
        for i in range(5):
            turtle.circle(4,180)
            turtle.right(108)
        turtle.end_fill()
        turtle.color("green")
        turtle.fillcolor("green")
        turtle.begin_fill()
        turtle.circle(4)
        turtle.end_fill()
                
        tree()
        turtle.mainloop()
    </pre>
    <a href="triangle.html">کد مثلث</a>
    </div>
    </body>
</head>
</html>